ai-voice-agent-fkgpt-services.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        -32
      ],
      "id": "319d30af-2e1d-4bc7-ac17-786351074552",
      "name": "Webhook",
      "webhookId": "863992be-a9bb-4ba2-ac89-2cb475e0e410"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1120,
        176
      ],
      "id": "502a9597-064e-45ca-a865-e38a8c3ffff4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zytVIjandFyNlu15",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kiranmusudi@gmail.com",
          "mode": "list",
          "cachedResultName": "kiranmusudi@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -960,
        176
      ],
      "id": "4a86a9d5-370d-459d-8c9e-6c716ae1ac14",
      "name": "Get_Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "03GTBllCyWty7Gd6",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hello, Welcome to FKGPT Services, How can I help you?",
        "options": {
          "systemMessage": "You are a helpful Voice Assistant for FKGPT Services who responds to user's requests in a fun, friendly but professional way. Today's date is {{ $now }}.\\n\\nGuidelines:\\n\\nWeb and Information Queries:\\n- For general information queries, use the SerpAPI tool to fetch results from Google Search.\\n\\nBooking:\\n- If an appointment is being requested, first check the Get_Events tool to see if that requested meeting time is available and if it is available then use the Book_Meeting tool to create the appointment and send the confirmation.\\n- If the time requested is not available, provide all the available times as a response for the user to select a new time.\\n\\nResponse Structure:\\n- Keep responses concise, short, and relevant to the user's question.\\n- Do not share any personal information, the ID of the meeting, or any sensitive data.\\n- Always respond in the same language the user speaks.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -976,
        -32
      ],
      "id": "f296446a-6a72-4422-a917-bad39ecda26a",
      "name": "Ai Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "kiranmusudi@gmail.com",
          "mode": "list",
          "cachedResultName": "kiranmusudi@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -832,
        176
      ],
      "id": "68f433eb-3f26-4288-8101-328c4973edfa",
      "name": "Book_Meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "03GTBllCyWty7Gd6",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"{{ JSON.stringify($json.output).replace(/(^\\\"|\\\"$)/g,'') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -624,
        -32
      ],
      "id": "d98feb13-9e96-49d2-8e5f-c98743c428ee",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ai Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ai Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get_Events": {
      "ai_tool": [
        [
          {
            "node": "Ai Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book_Meeting": {
      "ai_tool": [
        [
          {
            "node": "Ai Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ef9b1296-a9dd-4fe2-bf60-36fa3c1f5d06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00c41136bf508d13ffc8a40485c1daeb87df3a320ee2fee235a3ddc60702322f"
  },
  "id": "pLYzOZGEZ6aEur2q",
  "tags": []
}